<h1>Welcome to Pierre's!</h1>
<form action="/search" method="get">
  <label for="search">Search</label>
  <input type="text" name="search">
  @Html.RadioButton("searchParam", "Flavor", new { @checked = "checked" })
  <label for="searchParam">Search By Flavor</label>
  @Html.RadioButton("searchParam", "Treat")
  <label for="searchParam">Search by Treat</label>
  <button type="submit">Search</button>
</form>

@using System.Security.Claims
@using PierresTreats.Models
@if (User.Identity.IsAuthenticated)
{
    <p>Logged in as @User.Identity.Name!</p>
    
   <p>@Html.ActionLink("Log Off","LogOff", "Account", FormMethod.Post)</p> 

}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}