@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)

    <input type="submit" value="Add new flavor" />
}
<p>@Html.ActionLink("Back home", "Index", "Home")</p>